html {
    background-color: #0D1F22;
    color: white;
}
.board {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
.row {
        display: flex;
        justify-content: center;
    }
.hole {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #1A4C55;
        margin: 3px;
    }

.player1 {
    background-color: #F7ACCF;
}

.player2 {
    background-color: #45F0DF;
}

.empty {
        visibility: hidden;
    }

.void {
        width: 4px;
        height: 12px;
    }

#magicButton {
        border: none;
        background-color: #0D1F22;
        color: aliceblue;
    }
#playerMarker {
    background-color: #F7ACCF;
}
#controls {
    display: flex;
    justify-content: space-evenly;
}
.button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #1A4C55;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#start {
    display: flex;
    justify-content: center;
    align-items: center;
}