<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game | Chinese Checkers</title>
     <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="board">
    {% for row in board %}
        <div class="row" y="{{ loop.index - 1}}">
            {% set outer_loop = loop %}
            {% for cell in row %}
                <div class="hole {{ 'empty' if cell == -1 else ('player1' if cell == 1 else ('player2' if cell == 2 else '')) }}"
                     x="{{ loop.index - 1 if cell == 0 or cell == 1 or cell == 2 else -1 }}"
                     y="{{ outer_loop.index - 1 if cell == 0 or cell == 1 or cell == 2 else -1}}"
                     style=""
                     onclick="holeClicked(this)"></div>
                <div class="void"></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<div id="controls">
    <div class="button" id="playerMarker"></div>
    <div class="button" id="endTurnButton"> <img src="static/media/arrow.png" alt="end turn" width = "32" height = "32"> </div>
</div>
<button id="magicButton"> > </button>
</body>
<div id="board-data" data-board="{{ board | tojson | safe }}"></div>
 <script src="static/scripts/checkers.js"></script>
</html>